.feature {
	display: inline-block;
	width: 98.9%;
	padding-top: 64px;
	padding-bottom: 64px;
	text-align: center;
	.row {
		margin-bottom: 32px;
	}
	img {
		margin-left: auto;
		margin-right: auto;
	}
	i {
		font-size: 128px;
		padding: 8px;
	}
}
.fullscreen {
	vertical-align: middle;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}