.input {
	border: 1px solid darken($white, 20%);
	background: rgba(0, 0, 0, 0.05);
	height: 32px;
	font-size: 1em;
	font-family: inherit;
	padding: 0px 8px;
	-webkit-transition: background 0.5s ease-out, border 0.5s ease-out;
	-moz-transition: background 0.5s ease-out, border 0.5s ease-out;
	-ms-transition: background 0.5s ease-out, border 0.5s ease-out;
	-o-transition: background 0.5s ease-out, border 0.5s ease-out;
	transition: background 0.5s ease-out, border 0.5s ease-out;
}

.input:hover {
	background-color: rgba(0,0,0,0.1);
}

.input:focus {
	background-color: rgba(0,0,0,0.1);
	border: 1px solid rgba(102,175,233,1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

input[type="range"] {
	vertical-align: middle;
}