.radio {
	display: inline-block;
	input[type="radio"] {
		display: none;
		&:checked ~ label:after {
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			position: absolute;
			left: 3px;
			bottom: 5px;
			background: $blue;
			border-radius: 50%;
		}
	}
	label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 18px;
		&:before {
			content: '';
			display: block;
			width: 14px;
			height: 14px;
			position: absolute;
			left: 0;
			bottom: 2px;
			background: darken($white, 10%);
			border: 1px solid darken($white, 20%);
			border-radius: 50%;
		}
	}
}